[submodule "backend"]
	path = backend
	url = https://github.com/RohitSSolanki/backend
	branch = main

[submodule "frontend"]
	path = frontend
	url = https://github.com/RohitSSolanki/frontend
	branch = main
[submodule "dummy-statement"]
	path = dummy-statement
	url = https://github.com/RohitSSolanki/dummy-statement
	branch = main
